@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
 }


@theme {
  --color-cusRed: #FF5A5F;
  --color-cusGreen: #00A699;
  --color-cusOrange: #FC642D;
  --color-cusDarkGrey: #484848;
  --color-cusLightGrey: #767676;
}

:root {
  /* background-color: #242424;  */
  
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Target the carousel and its webkit-scrollbar pseudo-element */
.carousel::-webkit-scrollbar {
    display: block; /* Changes it from 'none' to visible */
    width: 20px;     /* You must define a width/height for webkit scrollbars to show */
    height: 20px;
}

/* Optional: Add some styling so it's actually visible against your background */
.carousel::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.carousel::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.carousel {
    scrollbar-width: auto !important; /* Overrides the 'none' setting */
}